<?xml version="1.0" encoding="utf-8" ?>
<Config>

  <Sistem>
    <LogTags>
      <logTag1>[Error] </logTag1>
      <logTag2>[Server] </logTag2>
      <logTag3>[Info] </logTag3>
      <logTag4>[SQL] </logTag4>
      <logTag5>[SistemLog] </logTag5>
      <logTag6>[Cryptography] </logTag6>
      <logTag7>[CryptographycError] </logTag7>

    </LogTags>
    <ActionTags>
      <ActionTag1></ActionTag1>
      <ActionTag2></ActionTag2>
      <ActionTag3></ActionTag3>
    </ActionTags>
  </Sistem>


  <Oracle>
    <host>latx24.nam.nsroot.net</host>
    <server_port>1521</server_port>
    <service_name>SIT11G</service_name>
    <user_name>PRISM9</user_name>
    <password>PRISM9</password>
  </Oracle>

  <SQL>
    <host>latx24.nam.nsroot.net</host>
    <server_port>1433</server_port>
    <database_name>SIT11G</database_name>
    <user_name>PRISM9</user_name>
    <password>PRISM9</password>
    <network_library></network_library>
    <database_path></database_path>
  </SQL>

</Config>