<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.7.8.1" targetFramework="net462" />
  <package id="Google.Api.Gax" version="2.6.0" targetFramework="net462" />
  <package id="Google.Api.Gax.Rest" version="2.6.0" targetFramework="net462" />
  <package id="Google.Apis" version="1.38.1" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.38.0" targetFramework="net462" />
  <package id="Google.Apis.Calendar.v3" version="1.38.0.1529" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.38.1" targetFramework="net462" />
  <package id="Google.Apis.Drive.v2" version="1.38.0.1533" targetFramework="net462" />
  <package id="Google.Apis.Drive.v3" version="1.38.0.1533" targetFramework="net462" />
  <package id="Google.Apis.Gmail.v1" version="1.38.0.1495" targetFramework="net462" />
  <package id="Google.Apis.Oauth2.v2" version="1.38.0.1532" targetFramework="net462" />
  <package id="Google.Apis.Translate.v2" version="1.38.0.875" targetFramework="net462" />
  <package id="Google.Apis.YouTube.v3" version="1.38.0.1488" targetFramework="net462" />
  <package id="Google.Cloud.Translation.V2" version="1.1.0" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="OAuth" version="1.0.3" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="18.6.0" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net462" />
</packages>